* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eee;
}
h1 {
    font-family: monospace;
    text-align: center;
    margin-block-start: 50px;
}
.flex-container {
    
    width: 60vw;
    height: 80vh;
    margin: 10px auto;
    
    border: 1px solid lightgrey;
    background-color: #fff;
    position: relative;
}
.flex-item {
    
    width: 100px;
    padding-block-start: .5em;

    text-align: center;
    color: rgb(131, 191, 204);

    background-color: rgb(227, 227, 227);
    outline: 1px solid darkgrey;
}
.item1 {
    height: 100px;
}
.item2 {
    height: 150px;
}
.item3 {
    height: 200px;
}