* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 10px;
    margin-block: 10px;
    background-color: rgb(146, 192, 200);
}

.logo {
    font-family: monospace;
    font-size: 2em;
    font-weight: bold;
}

a:last-child {
    margin-inline-end: 0;
}

a {
    margin-inline-end: 1.5em;
    color: rgb(116, 116, 116);
    text-decoration: none;
}
